*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: #141414;
	color: #ffffff;
}


.movie-container {
	position: relative;
	transition: transform 0.2s;
	/* border: 2px solid yellow; */
}




.movie-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.movie-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	left:0;
	bottom: 0;
	font-size: 1.5rem;
	border:none;
	height:8vh;
	color:white;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:20px;

}

@media (max-width:600px){
	header{
		flex-direction: column;
		gap:10px;
	}
}


